body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#background-video {
    width: 80%; /* Процент ширины страницы, который будет занимать видео */
    height: auto; /* Высота будет автоматически рассчитываться на основе ширины */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование видео на странице */
    aspect-ratio: 4 / 5; /* Соотношение сторон 4:5 */
}

#invisible-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: default;
    z-index: 1; /* Убедитесь, что кнопка находится над другими элементами, но ниже любых элементов, с которыми должен взаимодействовать пользователь */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 100;
}

h1 {
    font-size: 3rem;
}
